<!DOCTYPE html>
<html lang="ru">
<head>
    <link th:href="@{/static/css/main.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/static/js/main.js}"></script>
    <meta charset="UTF-8">
    <title>TO-DO</title>
</head>
<body>
<h1>TO DO LIST</h1>
<br>
<table>
    <thead>
    <tr>
        <th id="taskIdTitle">ID</th>
        <th id="taskDescriptionTitle">Description</th>
        <th id="taskStatusTitle">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${taskPage.content.empty}">
        <td colspan="2"> No Tasks Available</td>
    </tr>
    <tr th:each="task : ${taskPage.content}">
        <td><span th:text="${task.id}"></span></td>
        <td><span th:text="${task.description}"></span></td>
        <td><span th:text="${task.status}"></span></td>
        <td>
            <button th:onclick="edit([[${task.id}]], [[${task.description}]], [[${task.status}]])">
                Edit
            </button>
        </td>
        <td>
            <form th:action="@{/api/deleteTask}" th:method="post">
                <input type="hidden" name="taskId" th:value="${task.id}">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<div th:if="${taskPage.totalPages > 0}" class="pagination">
<span th:each="pageNumber : ${pagesNumbers}">
    <a th:href="@{/api/task(pageNumber=${pageNumber})}"
       th:text=${pageNumber}
       th:class="${pageNumber==taskPage.number + 1} ? active"></a>
         </span>
</div>
<br>
<div>
    <h3>Task info:</h3>
    <form action="/api/task" method="post">
        <div>
            <label for="taskId">Id:</label><br>
            <input type="text" name="id" id="taskId" class="taskInfoInput" readonly>
        </div>
        <div>
            <label for="description">Description:</label><br>
            <input type="text" name="description" id="description" class="taskInfoInput">
        </div>
        <div>
            <label for="status">Status:</label><br>
            <select id="status" name="status" class="taskInfoInput">
                <option th:text="${status}" th:each="status : ${statusList}"></option>
            </select>
        </div>
        <div><input type="submit" value="Save"></div>
    </form>
</div>

</body>
</html>